USE [master]
GO
/****** Object:  Database [TravelDb]    Script Date: 16-05-2023 07:34:30 PM ******/
CREATE DATABASE [TravelDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TravelDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TravelDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelDb]
GO
/****** Object:  Table [dbo].[tblTravelHeader]    Script Date: 16-05-2023 07:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTravelHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TravelReson] [varchar](50) NULL,
	[TravellingFrom] [varchar](50) NULL,
	[TravellingToDate] [varchar](50) NULL,
	[ExplainationTravel] [varchar](500) NULL,
	[TravellingDetails] [varchar](500) NULL,
 CONSTRAINT [PK_tblTravelHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrvelPreDetails]    Script Date: 16-05-2023 07:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrvelPreDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Currency] [varchar](50) NULL,
	[Amount] [int] NULL,
	[ExchangeRate] [int] NULL,
	[AmountINR] [int] NULL,
	[Description] [varchar](500) NULL,
	[TravelId] [int] NULL,
 CONSTRAINT [PK_tblTrvelPreDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblTravelHeader] ON 

INSERT [dbo].[tblTravelHeader] ([Id], [TravelReson], [TravellingFrom], [TravellingToDate], [ExplainationTravel], [TravellingDetails]) VALUES (1, N'2', N'2023-05-26', N'2023-05-18', N'test', N'test')
INSERT [dbo].[tblTravelHeader] ([Id], [TravelReson], [TravellingFrom], [TravellingToDate], [ExplainationTravel], [TravellingDetails]) VALUES (2, N'2', N'2023-05-12', N'2023-05-10', N'test', N'test')
INSERT [dbo].[tblTravelHeader] ([Id], [TravelReson], [TravellingFrom], [TravellingToDate], [ExplainationTravel], [TravellingDetails]) VALUES (3, N'2', N'2023-06-03', N'2023-06-11', N'test', N'terfds')
SET IDENTITY_INSERT [dbo].[tblTravelHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTrvelPreDetails] ON 

INSERT [dbo].[tblTrvelPreDetails] ([Id], [Currency], [Amount], [ExchangeRate], [AmountINR], [Description], [TravelId]) VALUES (4, N'INR', 500, 12, 6000, N'data', 6)
INSERT [dbo].[tblTrvelPreDetails] ([Id], [Currency], [Amount], [ExchangeRate], [AmountINR], [Description], [TravelId]) VALUES (5, N'INR', 500, 12, 6000, N'data', 6)
INSERT [dbo].[tblTrvelPreDetails] ([Id], [Currency], [Amount], [ExchangeRate], [AmountINR], [Description], [TravelId]) VALUES (6, N'USD', 1000, 80, 80000, N'USD Currency', 7)
SET IDENTITY_INSERT [dbo].[tblTrvelPreDetails] OFF
GO
ALTER TABLE [dbo].[tblTrvelPreDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblTrvelPreDetails_tblTravelHeader] FOREIGN KEY([TravelId])
REFERENCES [dbo].[tblTravelHeader] ([Id])
GO
ALTER TABLE [dbo].[tblTrvelPreDetails] CHECK CONSTRAINT [FK_tblTrvelPreDetails_tblTravelHeader]
GO
/****** Object:  StoredProcedure [dbo].[AddTraveldetails]    Script Date: 16-05-2023 07:34:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddTraveldetails]
@ResultID INT OUTPUT, @TravelReson VARCHAR (50), @TravellingFrom VARCHAR (50), @TravellingToDate VARCHAR (50), @ExplainationTravel VARCHAR (50), @TravellingDetails VARCHAR (50)
AS
BEGIN
    INSERT  INTO tblTravelHeader
    VALUES (@TravelReson, @TravellingFrom, @TravellingToDate, @ExplainationTravel, @TravellingDetails);
    SELECT @ResultID = SCOPE_IDENTITY();
END

GO
USE [master]
GO
