USE [master]
GO
/****** Object:  Database [TravelDb]    Script Date: 24-05-2023 02:50:45 PM ******/
CREATE DATABASE [TravelDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TravelDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TravelDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelDb]
GO
/****** Object:  Table [dbo].[tblTravelHeader]    Script Date: 24-05-2023 02:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTravelHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TravelReson] [varchar](50) NULL,
	[TravellingFrom] [varchar](50) NULL,
	[TravellingToDate] [varchar](50) NULL,
	[ExplainationTravel] [varchar](500) NULL,
	[TravellingDetails] [varchar](500) NULL,
 CONSTRAINT [PK_tblTravelHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrvelPreDetails]    Script Date: 24-05-2023 02:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrvelPreDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Currency] [varchar](50) NULL,
	[Amount] [int] NULL,
	[ExchangeRate] [int] NULL,
	[AmountINR] [int] NULL,
	[Description] [varchar](500) NULL,
	[TravelId] [int] NULL,
 CONSTRAINT [PK_tblTrvelPreDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblTravelHeader] ON 

INSERT [dbo].[tblTravelHeader] ([Id], [TravelReson], [TravellingFrom], [TravellingToDate], [ExplainationTravel], [TravellingDetails]) VALUES (5, N'2', N'2023-05-19', N'2023-05-11', N'test', N'test')
INSERT [dbo].[tblTravelHeader] ([Id], [TravelReson], [TravellingFrom], [TravellingToDate], [ExplainationTravel], [TravellingDetails]) VALUES (6, N'2', N'2023-05-12', N'2023-05-04', N'test', N'test')
INSERT [dbo].[tblTravelHeader] ([Id], [TravelReson], [TravellingFrom], [TravellingToDate], [ExplainationTravel], [TravellingDetails]) VALUES (7, N'Travel to explore', N'2023-05-03', N'2023-05-28', N'Traveling to Ahmedabad', N'Traveling to Surat')
SET IDENTITY_INSERT [dbo].[tblTravelHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTrvelPreDetails] ON 

INSERT [dbo].[tblTrvelPreDetails] ([Id], [Currency], [Amount], [ExchangeRate], [AmountINR], [Description], [TravelId]) VALUES (6, N'USD', 1000, 80, 80000, N'USD Currency', 7)
INSERT [dbo].[tblTrvelPreDetails] ([Id], [Currency], [Amount], [ExchangeRate], [AmountINR], [Description], [TravelId]) VALUES (7, N'USD', 1000, 80, 80000, N'USD Currency', 7)
INSERT [dbo].[tblTrvelPreDetails] ([Id], [Currency], [Amount], [ExchangeRate], [AmountINR], [Description], [TravelId]) VALUES (8, N'USD', 1000, 80, 80000, N'USD', 8)
SET IDENTITY_INSERT [dbo].[tblTrvelPreDetails] OFF
GO
ALTER TABLE [dbo].[tblTrvelPreDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblTrvelPreDetails_tblTravelHeader] FOREIGN KEY([TravelId])
REFERENCES [dbo].[tblTravelHeader] ([Id])
GO
ALTER TABLE [dbo].[tblTrvelPreDetails] CHECK CONSTRAINT [FK_tblTrvelPreDetails_tblTravelHeader]
GO
/****** Object:  StoredProcedure [dbo].[AddTraveldetails]    Script Date: 24-05-2023 02:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddTraveldetails]
@ResultID INT OUTPUT, @TravelReson VARCHAR (50), @TravellingFrom VARCHAR (50), @TravellingToDate VARCHAR (50), @ExplainationTravel VARCHAR (50), @TravellingDetails VARCHAR (50)
AS
BEGIN
    INSERT  INTO tblTravelHeader
    VALUES (@TravelReson, @TravellingFrom, @TravellingToDate, @ExplainationTravel, @TravellingDetails);
    SELECT @ResultID = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteTravelDetails]    Script Date: 24-05-2023 02:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTravelDetails]
@Id INT
AS
BEGIN
    DELETE tblTravelHeader
    WHERE  Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteTravelPredetails]    Script Date: 24-05-2023 02:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTravelPredetails]
@Id INT
AS
BEGIN
    DELETE tblTrvelPreDetails
    WHERE  Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateTraveldetails]    Script Date: 24-05-2023 02:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UpdateTraveldetails]
@Id INT, @TravelReson VARCHAR (50), @TravellingFrom VARCHAR (50), @TravellingToDate VARCHAR (50), @ExplainationTravel VARCHAR (50), @TravellingDetails VARCHAR (50)
AS
BEGIN
    UPDATE tblTravelHeader
    SET    TravelReson        = @TravelReson,
           TravellingFrom     = @TravellingFrom,
           TravellingToDate   = @TravellingToDate,
           ExplainationTravel = @ExplainationTravel,
           TravellingDetails  = @TravellingDetails
    WHERE  Id = @Id;
END

GO
USE [master]
GO
